* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #dddd;
    text-align: center;
    align-items: center;
}

.admin-content {
    display: flex; 
}

.admin-content_left {
    background-color: #dddddd;
    width: 20%;
    height: 636px;
    padding: 30px 0 0 12px;
}

.admin-content_left > ul > li > a {
    font-weight: bold;
}

.admin-content_left ul li {
    margin-left: 20px;
}

/*------------- CONTENT RIGHT */

.admin-content_right {
    width: 80%;
    padding: 16px 0 0 12px;
}

.admin-content_right-category_add input {
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.admin-content_right-product_add button,
.admin-content_right-category_add button {
    display: block;
    margin-top: 12px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: rgb(228, 53, 53);
    color: white;
    border: 1px solid #fff;
    border-radius: 8px;
    margin-left: 100px;
    transition: all .4s ease;
}

.admin-content_right-product_add button:hover,
.admin-content_right-category_add button:hover {
    color: rgb(230, 91, 91);
    background-color: transparent;
    border: 1px solid rgb(230, 91, 91);
    font-weight: bold;
}

/*------------ Category-list */
.admin-content_right-category_list table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.admin-content_right-category_list table tr th,td {
    border: 1px solid #ddd;
}

table {
    border-collapse: collapse;
}

/* -----Brand ADD */
select {
    width: 200px;
    height: 30px;
}

/* ------------PRODUCT */
.admin-content_right-product_add input, select {
    width: 200px;
    height: 30px;
    display: block;
    margin: 20px 0;
}

.admin-content_right-category_list table tr td img {
    width: 100px;
    height: 100px;
    padding: 8px;
}

.pdt_img {
    width: 40%;
}

.img_des {
    width: 20%;
    height: 20%;
    margin-right: 16px;
}

.admin-content_right-product_add > h1 {
    margin-bottom: 24px;
}

.admin-content_right-product_add label {
    position: relative;
}

.admin-content_right-product_add label::after {
    position: absolute;
    display: block;
    content: "";
    border-bottom: 1px solid blue;
    width: 100%;
}

.admin-content_right-product_list {
    height: 620px;
    overflow-y: auto;
}

.admin-content_right-product_list table tr td {
    border: 1px solid #ddd;
    overflow: hidden; /* Ẩn phần nội dung vượt ra khỏi chiều rộng đã đặt */
    text-overflow: ellipsis; /* Hiển thị dấu "..." khi nội dung vượt quá chiều rộng */
}
